.img1{
    background-image: url('/CSS/IMG/receipes_img/4.jpg');
}
.img2{
    background-image: url('/CSS/IMG/receipes_img/5.jpeg');
}
.img3{
    background-image: url('/CSS/IMG/receipes_img/6.webp');
}